# Logs
logs
*.log
npm-debug.log* 

 
.DS_Store 
*.local
 

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

app/__pycache__/* 
*.code-workspace

# Python
__pycache__

# Virtual Environment Folder
env 

# Environment Variables
.env 